@import '../../palette';

* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.contact {
    width: 100%;
    height: auto;
    padding-bottom: 121px;

    .wrap {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        .contact-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            margin-bottom: 87px;
            padding-left: 15px;

            h1 {
                margin-bottom: 10px;
                color: $color-12;
                font-family: 'Raleway Semi Bold', sans-serif;
                font-size: 31px;
                font-weight: 400;
                line-height: 34px;
                text-transform: uppercase;
            }

            .phone-icon {

                &::before,
                &::after {
                    content: '';
                    display: inline-block;
                    width: 38px;
                    height: 1px;
                    margin-bottom: 5px;
                    background: $color-5;
                }
            }
        }

        .contact-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 79px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 180px;
                margin-right: 125px;

                address {
                    color: #606060;
                    font-family: 'Raleway Medium', sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: .6px;
                    line-height: 24px;
                    text-align: center;
                }
            }

            .location {

                img {
                    width: 26px;
                    height: 34px;
                    margin-bottom: 19px;
                }
            }

            .mail {
                padding-top: 4px;
                padding-left: 14px;

                img {
                    width: 30px;
                    height: 22px;
                    margin-bottom: 29px;
                }
            }

            .support {
                margin-right: 0;

                img {
                    width: 48px;
                    height: 32px;
                    margin-bottom: 19px;
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 942px;
            max-width: 100%;
            height: auto;
            margin: auto;
            padding-left: 7px;

            input {
                height: 46px;
                margin-bottom: 14px;
                padding-left: 10px;
                border: 1px solid $color-15;
                background-color: $color-2;

                &:last-child {
                    margin-bottom: 0;
                }

                &::placeholder {
                    color: $color-16;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: .07px;
                    line-height: 34px;
                }
            }

            textarea {
                height: 171px;
                margin-bottom: 15px;
                padding-top: 6px;
                padding-left: 10px;
                border: 1px solid $color-15;
                background-color: $color-2;
                resize: none;

                &::placeholder {
                    color: $color-16;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: .07px;
                    line-height: 34px;
                }
            }

            .row2 {
                display: flex;
                width: 100.7%;

                input {
                    width: 50%;
                    margin-right: 16px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .row3 {
                display: flex;
                flex-direction: column;
                width: 100.7%;
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 160px;
                height: 44px;
                background: #3AB6B2;
                color: $color-2;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: .07px;
                line-height: 34px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
