.contact {
    padding-bottom: 81px;

    .wrap {
        width: 100%;

        .contactHeader {
            margin-bottom: 54px;
            padding-left: 0;

            h1 {
                font-size: 29px;
            }
        }

        .contactInfo {
            margin-bottom: 43px;

            div {
                margin-right: 110px;
            }
        }

        .form {
            max-width: 94%;
            padding-left: 0;

            .row2 {

                input {
                    margin-right: 12px;
                }
            }

            .row2,
            .row3 {
                width: 99.7%;
            }
        }
    }
}
