@import '../../palette';

* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.about {
    width: 100%;
    height: 816px;
    padding-top: 116px;

    .who-we-are {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1170px;
        max-width: 100%;
        height: 64px;
        margin: auto;
        margin-bottom: 94px;
        padding-left: 16px;

        h1 {
            margin-bottom: 11px;
            color: #323232;
            font-family: 'Raleway', sans-serif;
            font-size: 31px;
            font-weight: 400;
            line-height: 34px;
            text-transform: uppercase;

            span {
                color: $color-4;
            }
        }

        .horn {
            width: 109px;

            &::before {
                content: '';
                display: inline-block;
                width: 38px;
                height: 2px;
                background: $color-5;
                vertical-align: middle;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 38px;
                height: 2px;
                background: $color-5;
                vertical-align: middle;
            }
        }
    }

    .wrap {
        display: flex;
        flex-direction: row;
        width: 1174px;
        max-width: 100%;
        height: 419px;
        margin: auto;

        .poster {
            width: 510px;
            height: 414px;
            margin-right: 97px;
            padding-left: 6px;
        }

        .text-about {
            width: 586px;
            height: 402px;
            padding-top: 5px;

            h1 {
                margin-bottom: 30px;
                color: $color-6;
                font-family: 'Raleway', sans-serif;
                font-size: 31px;
                font-weight: 400;
                letter-spacing: -.8px;
                line-height: 19px;
                text-transform: uppercase;
            }

            .desktop-about,
            .tablet-about,
            .mobile-about {
                margin-bottom: 47px;
                color: #6A6A6A;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 27px;
            }

            .tablet-about {
                display: none;
            }

            .mobile-about {
                display: none;
            }

            .features {
                display: flex;
                flex-direction: column;
                padding-left: 2px;

                .row {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 29px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .tablet-read-more {
                    display: none;
                }

                .column {
                    display: flex;
                    width: 276px;
                    height: 96px;
                    margin-right: 34px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &::before {
                        content: '';
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        justify-content: center;
                        width: 64px;
                        height: 64px;
                        margin-right: 27px;
                        border-radius: 50%;
                        background: $color-7;
                        color: $color-2;
                        font-family: 'FontAwesome', sans-serif;
                        font-size: 26px;
                    }

                    h2 {
                        margin-bottom: 12px;
                        color: $color-6;
                        font-family: 'Raleway', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -.36px;
                        line-height: 19px;
                        text-transform: uppercase;
                    }

                    .desktop-text,
                    .tablet-text,
                    .mobile-text {
                        color: $color-8;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 22px;
                    }

                    .tablet-text {
                        display: none;
                    }

                    .mobile-text {
                        display: none;
                    }
                }

                .gear::before {
                    content: '\f013';
                }

                .map::before {
                    content: '\f041';
                }

                .heart::before {
                    content: '\f004';
                }

                .edit::before {
                    content: '\f044';
                }
            }
        }
    }
}
