.about {

    .who-we-are {
        width: 100%;
    }

    .wrap {
        width: 100%;
        margin: unset;

        .poster {
            width: auto;
            margin-right: 97px;
            padding-left: 20px;
        }

        .text-about {
            width: auto;
        }

        .features {

            .row {

                .column {
                    width: auto;
                    margin-right: 34px;

                    h2 {
                        font-size: 1.2vw;
                    }

                    p {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
