@import '../../palette';

* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 101px;
    background: $color-3;

    .wrap {
        display: flex;
        flex-wrap: nowrap;
        width: 1200px;
        max-width: 100%;
        height: 100%;
        padding-top: 27px;
        padding-left: 21px;

        .nav-mobile {
            display: none;
        }

        .logo {
            display: flex;
            width: 130px;
            margin-right: 302px;

            img {
                width: 27px;
                height: 41px;
            }

            span {
                margin-left: 1px;
                color: $color-2;
                font-family: 'Raleway', sans-serif;
                font-size: 36px;
                font-weight: 100;
                letter-spacing: .58px;
                line-height: 56.36px;
                text-transform: uppercase;
            }
        }

        .menu {
            display: flex;
            width: 740px;
            margin-top: 12px;

            a {
                margin-right: 40px;
                color: $color-2;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 21.36px;
                text-decoration: none;
                text-transform: uppercase;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
